<div class="contact-card text-shadow-box">
    <h1>Contact</h1>
    <p><b>Name:</b> {{name}}</p>
    <p><b>Role:</b> {{title}}</p>
    <h1>Connect with me</h1>
    <div class="icon-grid">
        <a href="{{github}}" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="{{linkedin}}" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="{{firefox}}" target="_blank"><i class="fa-brands fa-firefox"></i></a>
<a href="mailto:{{email}}" target="_blank"><i class="fa-solid fa-at"></i></a>    </div>
</div>